.work{
    margin-bottom: 50px;
}

.proj-img{
    height: 250px;
    width: 380px;
    border-radius: 10px;
    cursor: pointer;
    
}
.proj-img:hover{
    transform: scale(1.10);
    transition: 0.4s;
    border:4px solid #da7c25;

}
.mywork-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #da7c25;
}
.mywork-projects{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:60px;
    margin-top: 40px;
}

@media(max-width:768px){

    .proj-img{
        height: 100px;
        width: 150px;
        
    }
    .mywork-heading > h1{
        font-size: 40px;
    }
}
