/* .contact {
  margin-top: 80px;
  margin-bottom: 35px;
} */

.contact-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #da7c25;
  margin-bottom: 30px;
}
.contact-mid {
  display: flex;
  /* align-items: center; */
  justify-content: center;

  gap: 150px;
}
.left-heading {
  font-size: 50px;
  background:linear-gradient(267deg , #da7c25 50% , #b923e1 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.name-input {
  height: 40px;
  width: 500px;
  border-radius: 7px;
  background-color: #32323c;
  color:#a0a0a0 ;
  text-indent: 10px;
  border: none;
  font-size: medium;
}
.name-input:focus{
    outline: none; 
}


.comment-input {
  height: 200px;
  width: 500px;
  border-radius: 7px;
  background-color: #32323c;
  color:#a0a0a0 ;
  text-indent: 10px;
  border: none;
  font-size: medium;
  

}
.comment-input:focus{
    outline: none;
}
.mid-right-1,
.mid-right-2 {
  margin-bottom: 40px;
}

.submit-btn-div {
    margin-top: 30px;
  border-radius: 50px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  cursor: pointer;
  transition: 0.6s;
}

.submit-btn-div:hover {
  border: 2px solid beige;
  color:aqua;
  transform: scale(1.05);
}



.mid-left-text1{
    font-size: medium;
    line-height: 30px;
}

/* .mid-left-end{
    margin-top: 50px;
    font-size: large;
    line-height: 30px;
} */

.mail-pic{
    height:30px;
    width: 30px;
    border-radius: 100px;
}
.mail-div , .location-div{
    display: flex;
    align-items: center;
    gap:15px;
    margin-top: 8px;
}

.my-mail-text{
    cursor: pointer;
}
.my-mail-text:hover{
    background:linear-gradient(267deg , #da7c25 0.36% , #b923e1 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.name-input {
  width: 500px;
}
 .comment-input{
  width:500px;
  height: 200px;
 }





@media(max-width:768px){

  .contact-mid{
    display: flex;
    flex-direction: column;
    gap:50px;
  }
  .mid-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1px;
  }
.mid-right{
  display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
}
.contact-heading > h1{
  font-size: 42px;
  margin-bottom: 1px;
  margin-top: 1px;
}
.left-heading{
  font-size: 30px;
  margin-top: 5px;

}
.mid-left-text1{
  font-size: small;
  margin: 10px 10px;
}
.name-input {
  width: 200px;
}
 .comment-input{
  width:200px;
  height: 100px;
 }

}